body {
  margin: 0;
  padding: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

@font-face {
  font-family: "Open Sans Hebrew";
  src: url("./fonts/OpenSansHebrew-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans Hebrew";
  src: url("./fonts/OpenSansHebrew-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto Thin";
  src: url("./fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: normal;
}
