inputFile {
  width: 0.1px;
  height: 0.1 px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputFile + label {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}
